{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>

    <title>FIT | {% block title %}Types{% endblock %}</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" href="/static/favicon.ico">
    <!-- Web Fonts -->
    <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,800&amp;subset=cyrillic,latin'>
    <link href='//fonts.googleapis.com/css?family=Volkhov:400,400italic' rel='stylesheet' type='text/css'>
    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <!-- CSS Header and Footer -->
    <link rel="stylesheet" href="{% static 'assets/css/headers/header-default.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/footers/footer-v1.css' %}">
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="{% static 'assets/plugins/animate.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/line-icons/line-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/owl-carousel/owl-carousel/owl.carousel.css' %}">
    <!-- CSS Page Style -->
    <link rel="stylesheet" href="{% static 'assets/css/pages/page_about.css' %}">
    <!-- CSS Theme -->
    <link rel="stylesheet" href="{% static 'assets/css/theme-colors/default.css' %}" id="style_color">
    <link rel="stylesheet" href="{% static 'assets/css/theme-skins/dark.css' %}">
    <link href="{% static 'assets/plugins/owl-carousel/owl-carousel/owl.theme.css' %}" rel="stylesheet" />
    <!-- CSS Customization -->
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
    <link href="{% static 'assets/css/layouts/white_layout.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/headers/Custom_Header.css' %}" rel="stylesheet" />
    
    <script src="{% static 'Scripts/angular.min.js' %}"></script>
    
    <script src="{% static 'app/app.js' %}"></script>
    <script src="{% static 'app/agenda.js' %}"></script>
    <script src="{% static 'app/services/agenda.js' %}"></script>
    
</head>
<body ng-app="fitApp">
    <book goals-url="book_data">Some Book</book>
</body>
</html>
