<div class="col-md-12 col-xs-12 hexcolumn">
    <div class="row row1">

        <a href="{% url 'fit:bio_shane_niemeyer' %}">
            <div class="hexagon hex-Shane hex-Shane-mobile col-lg-12 col-md-6 col-xs-12">
                <div class="hexTop"></div>
                <div class="hexBottom"></div>
                <span class="col-xs-12 teamMemberName"><strong>Shane Niemeyer, CSCS</strong><span class="col-xs-12 teamMemberTitle">Physical Coach</span></span>
            </div>
        </a>
        <a href="{% url 'fit:bio_rena_kirkland' %}">
            <div class="hexagon hex-Rena hex-Rena-mobile col-lg-12 col-md-6 col-xs-12">
                <div class="hexTop"></div>
                <div class="hexBottom"></div>
                <span class=" col-xs-12 teamMemberName"><strong>Rena Kirkland, PhD</strong><span class="col-xs-12 teamMemberTitle">Cognitive Coach</span></span>
            </div>
        </a>
    </div>
    <div class="row row2">
        <a href="{% url 'fit:bio_ilene_rusk' %}">
            <div class="hexagon hex-Ilene col-lg-12 col-md-6 col-xs-12">
                <div class="hexTop"></div>
                <div class="hexBottom"></div>
                <span class="col-xs-12 teamMemberName"><strong>Ilene Rusk, PhD</strong><span class="col-xs-12 teamMemberTitle">Emotional Coach</span></span>
            </div>
        </a>
        <a href="{% url 'fit:bio_jim_leighton' %}">
            <div class="hexagon hex-Jim col-lg-12 col-md-6 col-xs-12">
                <div class="hexTop"></div>
                <div class="hexBottom"></div>
                <span class="col-xs-12 teamMemberName"><strong>Jim Leighton</strong><span class="col-xs-12 teamMemberTitle">Founder</span></span>
            </div>
        </a>
        <a href="{% url 'fit:bio_james_doran' %}">
            <div class="hexagon hex-James col-lg-12 col-md-6 col-xs-12">
                <div class="hexTop"></div>
                <div class="hexBottom"></div>
                <span class=" col-xs-12 teamMemberName"><strong>James Doran, PhD</strong><span class="col-xs-12 teamMemberTitle">Financial Coach</span></span>
            </div>
        </a>
    </div>
    <div class="row row3">
        <a href="{% url 'fit:bio_lauren_leighton' %}">
            <div class="hexagon hex-Lauren col-lg-12 col-md-6 col-xs-12">
                <div class="hexTop"></div>
                <div class="hexBottom"></div>
                <span class="col-xs-12 teamMemberName"><strong>Lauren Leighton</strong><span class="col-xs-12 teamMemberTitle">Creative Director</span></span>
            </div>
        </a>
        <a href="#">
            <div class="hexagon hex-Phillip col-lg-12 col-md-6 col-xs-12">
                <span class="col-xs-12 teamMemberName"><strong>Pete Cahalane</strong><span class="col-xs-12 teamMemberTitle">CTO</span></span>
                <div class="hexTop"></div>
                <div class="hexBottom"></div>
            </div>
        </a>

    </div>
</div>
