{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <title></title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <!-- Web Fonts -->
    <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,800&amp;subset=cyrillic,latin'>
    <link href='//fonts.googleapis.com/css?family=Volkhov:400,400italic' rel='stylesheet' type='text/css'>
    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <!-- CSS Header and Footer -->
    <link rel="stylesheet" href="{% static 'assets/css/headers/header-default.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/footers/footer-v1.css' %}">
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="{% static 'assets/plugins/animate.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/line-icons/line-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/owl-carousel/owl-carousel/owl.carousel.css' %}">
    <!-- CSS Page Style -->
    <link rel="stylesheet" href="{% static 'assets/css/pages/page_about.css' %}">
    <!-- CSS Theme -->
    <link rel="stylesheet" href="{% static 'assets/css/theme-colors/default.css' %}" id="style_color">
    <link rel="stylesheet" href="{% static 'assets/css/theme-skins/dark.css' %}">
    <!-- CSS Customization -->
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
    <link href="{% static 'assets/css/layouts/white_layout.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/headers/Custom_Header.css' %}" rel="stylesheet" />
    <!-- JS Global Compulsory -->
    <script type="text/javascript" src="{% static 'assets/plugins/jquery/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/plugins/jquery/jquery-migrate.min.js' %}"></script>
    <script src="{% static 'Scripts/angular.min.js' %}"></script>
    <script src="{% static 'Scripts/main.js' %}"></script>
    
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.1/angular-animate.js"></script>
    <script src='//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.0.js'></script>
    <!-- start Mixpanel --><script type="text/javascript">(function(e,a){if(!a.__SV){var b=window;try{var c,l,i,j=b.location,g=j.hash;c=function(a,b){return(l=a.match(RegExp(b+"=([^&]*)")))?l[1]:null};g&&c(g,"state")&&(i=JSON.parse(decodeURIComponent(c(g,"state"))),"mpeditor"===i.action&&(b.sessionStorage.setItem("_mpcehash",g),history.replaceState(i.desiredHash||"",e.title,j.pathname+j.search)))}catch(m){}var k,h;window.mixpanel=a;a._i=[];a.init=function(b,c,f){function e(b,a){var c=a.split(".");2==c.length&&(b=b[c[0]],a=c[1]);b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,
    0)))}}var d=a;"undefined"!==typeof f?d=a[f]=[]:f="mixpanel";d.people=d.people||[];d.toString=function(b){var a="mixpanel";"mixpanel"!==f&&(a+="."+f);b||(a+=" (stub)");return a};d.people.toString=function(){return d.toString(1)+".people (stub)"};k="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config reset people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
    for(h=0;h<k.length;h++)e(d,k[h]);a._i.push([b,c,f])};a.__SV=1.2;b=e.createElement("script");b.type="text/javascript";b.async=!0;b.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";c=e.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c)}})(document,window.mixpanel||[]);
    mixpanel.init("{{ MIXPANEL_TOKEN }}");</script><!-- end Mixpanel -->
</head>
<body ng-app="fitApp">

    <div class="wrapper fitApp-wrapper"> 
        
          <!--=== Header ===-->
<div class="header">
    <div class="container padding-right-0">
        <div class="col-xs-4 col-md-3">
            <a class="logo" id="logoAnchor" href="/">
                <img class="header-logo guestInnerLogo" src="{% static 'assets/img/icons/dimension-icons/FIT-logo-sm.png' %}" />
            </a>
        </div>
        <div class="col-xs-8 col-md-9">
            <!-- Toggle get grouped for better mobile display -->
            <button onclick="hamburgerToggle(event)" class="hamburgerSecure">&#9776;</button>
        </div>
    </div><!--/end container-->
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="container hamburgerMenuWrapper publicHamburgerMenuWrapper">
        <ul id="secureHamDropdown" class="hamburgerContent publicHamburgerContent">
                <li class="hiddenOnSurveyPages">
        <a href="{% url 'fit:survey_welcome' %}">
            Try FIT Assessment
        </a>
    </li>
    <li>
        <a href="/home/login">Log In</a>
    </li>


        </ul>
    </div>
</div>


<!--=== End Header ===-->
        
        


<link href="{% static 'assets/css/survey/assessment.css' %}" rel="stylesheet" />
<link href="{% static 'Content/jquery-ui.css' %}" rel="stylesheet" />
<script src="{% static 'Scripts/jquery-1.10.2.js' %}"></script>
<script src="{% static 'Scripts/jquery-ui.js' %}"></script>
<script src="{% static 'assets/js/jquery.validate.js' %}"></script>
<!-- CSS Page Style -->
<link rel="stylesheet" href="{% static 'assets/css/pages/page_log_reg_v1.css' %}">
<!--=== Content Part ===-->
<div class="container content" ng-controller="DemographicsCtrl">

    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    
               
            <form class="reg-page col-xs-12 margin-bottom-75" id="registerForm" action="{% url 'fit:survey_demographic' %}" method="post" enctype="application/x-www-form-urlencoded" style="margin-bottom:100px">
                {% csrf_token %}
                <div class="reg-header">


                    <h2>Enter your personal info</h2>
                </div>

                <div class="col-sm-6">
                    <label>First Name</label> <span style="color: red" ng-show="!firstName">*</span>
                    
                    <input class="form-control margin-bottom-20 required" data-ng-init="firstName = &#39;&#39;" data-ng-model="firstName" id="FirstName" name="FirstName" type="text" value="" />
                </div>
                <div class="col-sm-6">
                    <label>Last Name</label> <span style="color: red" ng-show="!lastName">*</span>
                    <input class="form-control margin-bottom-20 required" data-ng-init="lastName = &#39;&#39;" data-ng-model="lastName" id="LastName" name="LastName" type="text" value="" />
                </div>

                <div class="col-sm-12">
                    <label>Email</label> <span style="color: red" ng-show="!email || email == undefined">*</span>
                    <input class="form-control margin-bottom-20 required" data-ng-init="email = &#39;&#39;" data-ng-model="email" id="Email" name="Email" type="email" value="" />
                </div>

                <div class="col-sm-6">
                    <label>Gender</label> <span style="color: red" ng-show="!gender">*</span>
                    <select class="form-control margin-bottom-20 required" id="Gender" name="Gender" ng-model="gender">
                        <option selected="selected" value=""></option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
                <div class="col-sm-6">
                    <label>DOB</label> <span style="color: red" ng-show="!dobBool">*</span>
                    <div class="form-group">
                        <input class="form-control margin-bottom-20  required" data-val="true" data-val-date="The field DateOfBirth must be a date." data-val-required="The DateOfBirth field is required." id="datepicker" maxlength="10" name="DateOfBirth" ng-click="checkDate($event)" ng-keypress="phoneValidate($event)" placeholder="MM/DD/YYYY" type="text" value="1/1/0001 12:00:00 AM" />



                    </div>
                </div>

                <div class="col-sm-12">
                    <label>What is your marital status?</label> <span style="color: red" ng-show="!mStatus">*</span>
                    <select class="form-control margin-bottom-20 required" id="maritalStatus" name="maritalStatus" ng-model="mStatus">
                        <option selected="selected" value=""></option>
                        <option value="Single">Single</option>
                        <option value="Married">Married</option>
                        <option value="Living with significant other">Living with significant other</option>
                        <option value="Widowed">Widowed</option>
                    </select>
                </div>

                <hr>
                <div class="col-sm-12 text-right">
                    <button class="primaryCtaBtn">Begin Assessment</button>
                </div>
            </form>

        </div>
    </div>
</div><!--/container-->
<!--=== End Content Part ===-->
<script>
    $( '#manualDatepicker')

    .keydown(function (e) {
        var key = e.charCode || e.keyCode || 0;
        $manualDatepicker = $(this);

        // Auto-format- do not expose the mask as the user begins to type
        if (key !== 8 && key !== 9) {
            if ($manualDatepicker.val().length === 2) {
                $manualDatepicker.val($manualDatepicker.val() + '/');
            }
            if ($manualDatepicker.val().length === 5) {
                $manualDatepicker.val($manualDatepicker.val() + '/');
            }
        }

        // Allow numeric (and tab, backspace, delete) keys only
        return (key == 8 ||
                key == 9 ||
                key == 46 ||
                (key >= 48 && key <= 57) ||
                (key >= 96 && key <= 105));
    })

    .bind('focus click', function () {
        $manualDatepicker = $(this);

        if ($phone.val().length === 0) {
            $manualDatepicker.val('');
        }
        else {
            var val = $phone.val();
            $manualDatepicker.val('').val(val); // Ensure cursor remains at the end
        }
    })

    .blur(function () {
        $manualDatepicker = $(this);

        if ($manualDatepicker.val() === '') {
            $manualDatepicker.val('');
        }
    });
</script>
<script>

    $(document).ready(function () {
        $("#registerForm").validate();
    });

    fitApp.factory('DemographicsFactory', function ($http) {
        return {
            capture: function (form, callback) {



                var url = "/emails/CaptureStartTheConversation";

                $http({ method: 'POST', url: url, data: { FirstName: form.FirstName, LastName: form.LastName, EmailAddress: form.EmailAddress, EmailMessage: form.EmailMessage }, headers: { 'Content-Type': 'application/json' } }).
                    success(function (data, status, headers, config) {
                        data = angular.fromJson(data);
                        callback(data);

                    }).error(function (data, status, headers, config) {
                        console.log("error")
                    });
            },
        }
    })

    fitApp.controller('DemographicsCtrl', function ($scope, DemographicsFactory) {

        $("#datepicker").val("");


        $scope.phoneValidate = function (e)
        {
           
            var key = e.charCode || e.keyCode || 0;
            $manualDatepicker = e.currentTarget;

            // Auto-format- do not expose the mask as the user begins to type
            if (key !== 8 && key !== 9) {
                if ($manualDatepicker.value.length === 2) {
                    $manualDatepicker.value = $manualDatepicker.value + '/'
                }
                if ($manualDatepicker.value.length === 5) {
                    $manualDatepicker.value = $manualDatepicker.value + '/'
                }
            }

            // Allow numeric (and tab, backspace, delete) keys only
            return (key == 8 ||
                    key == 9 ||
                    key == 46 ||
                    (key >= 48 && key <= 57) ||
                    (key >= 96 && key <= 105));
        }

        $(function () {
            $("#datepicker").datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: "-100:-20",
                reverseYearRange: true,
                defaultDate: '-20y'
            });
        });

        $scope.error = "";
        $scope.emailError = "";

        $scope.firstName = "";
        $scope.lastName = "";
        $scope.email = "";
        $scope.gender = "";        
        $scope.mStatus = "";
        $scope.dobBool = false;

        $scope.checkDate = function (event) {
            if (document.getElementById("datepicker").value != "1/1/0001 12:00:00 AM") {
                $scope.dobBool = true;
            }
        }

        $scope.validate = function (event) {

            if ($scope.firstName == "" || $scope.lastName == "" || $scope.email == "" || $scope.gender == "" || !dobBool || $scope.mStatus == "") {
                $scope.error = ('All fields are required.');
                event.preventDefault();
            }
            if ($scope.email == undefined) {
                $scope.emailError = ('Please enter a valid email.');
                event.preventDefault();
            }
        }

        $scope.emailValidation = "";

            if ($scope.emailValidation != "") {
                $scope.error = ("");
            }
    });
</script>

<style>
    .error {
    font: normal 10px arial;
    padding: 3px;
    margin: 3px;
    border: 1px solid #c00;

}
</style>

        <style>
    .footer-v1 .footer {
       padding: 7px 0;
        background: #373737;
    }

    .copyright {
        background: #373737;
    }

    .footer-v1 {
        width: 100%;
        height: 117px;
        position: relative;
        bottom: 0;
        left: 0;
    }
    .footer-v1 .footer-socials {
        text-align: center;
    }
</style>

<!--=== Footer Version 1 ===-->
<div class="footer-v1">
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="text-align: center;">
                    <ul class="footer-socials list-inline">


                        <li>
                            <a href="https://plus.google.com/u/1/+FITnessin4d" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/FITnessin4d/" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/FITin4d" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/c/fitnessin4d" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                                <i class="fa fa-youtube"></i>
                            </a>
                            </li>
                      </ul>
                </div>
                <div class="col-md-12" style="text-align: center;">
                    <div style="color: #fff;">
                        2016 &copy; All Rights Reserved.<br />
                        <a href="/Privacy_Policy">Privacy Policy</a> | <a href="/Terms_Of_Service">Terms of Service</a> | <a href="/Home/About">About FIT Assessment</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--/footer-->

    </div>


    <script type="text/javascript" src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- JS Implementing Plugins -->
    <script type="text/javascript" src="{% static 'assets/plugins/back-to-top.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/plugins/smoothScroll.js' %}"></script>  
    <!-- JS Customization -->
    <script type="text/javascript" src="{% static 'assets/js/custom.js' %}"></script>
    <!-- JS Page Level -->
    <script type="text/javascript" src="{% static 'assets/js/app.js' %}"></script> 
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    
    <!--[if lt IE 9]>
            <script src="{% static 'assets/plugins/respond.js' %}"></script>
            <script src="{% static 'assets/plugins/html5shiv.js' %}"></script>
            <script src="{% static 'assets/plugins/placeholder-IE-fixes.js' %}"></script>
        <![endif]-->

    <script type="text/javascript">       
        function collapseNavbar() {

            var scroll = $(window).scrollTop();
            if (scroll >= 10) {
                $(".header").addClass("position-fixed");

            } else {
                $(".header").removeClass("position-fixed");
            }
        }

        $(window).scroll(collapseNavbar);
        $(document).ready(collapseNavbar);



        // jQuery for page scrolling feature - requires jQuery Easing plugin
        $(function () {
            $('a.page-scroll').bind('click', function (event) {
                var $anchor = $(this);
                $('html, body').stop().animate({
                    scrollTop: $($anchor.attr('href')).offset().top
                }, 1500, 'easeInOutExpo');
                event.preventDefault();
            });
        });

        // Closes the Responsive Menu on Menu Item Click
        $('.navbar-collapse ul li a').click(function () {
            if ($(this).attr('class') != 'dropdown-toggle active' && $(this).attr('class') != 'dropdown-toggle') {
                $('.navbar-toggle:visible').click();
            }
        });

        $(document).ready(function () {
            var docHeight = $(window).height();
            var contentHeight = $(".footer-v1").position().top;

            if (docHeight > contentHeight) {
                $(".footer-v1").css("position", "fixed");
            }
        });

        $(document).ready(function () {
            var windowSize = $(window).width();
            if (windowSize <= 1023) {
                $('.loginDivider').hide();
                //$('.signUpMenuLink').css('padding', '9px 10px 9px 10px;')
            }
        });


        function hamburgerToggle(event) {
            event.stopPropagation();
            document.getElementById("secureHamDropdown").classList.toggle("showHamburger");
        }

        // Close the dropdown menu if the user clicks outside of it
        window.onclick = function (event) {
            var windowSize = $(window).width();
            if (windowSize >= 1024) {
                $('#secureHamDropdown').addClass("showHamburger");
            }
            else {
                document.getElementById("secureHamDropdown").classList.remove("showHamburger");
            }
            
        }
        

        $(document).ready(function (){
            hamburgerDisplay()
        });

        $(window).resize(function (){
            hamburgerDisplay()
        });

        function hamburgerDisplay() {
            var windowSize = $(window).width();
            if (windowSize >= 1024) {
                $('.hamburgerSecure').hide();
                $('#secureHamDropdown').addClass("showHamburger");                
            }
            else {
                $('#secureHamDropdown').removeClass("showHamburger");
                $('.hamburgerSecure').show();                
            }
        }

        //disable hamburger button based on url
        $(document).ready(function () {
            if (window.location.href.indexOf("/survey/demographic") > -1 ||
                window.location.href.indexOf("/survey/welcome") > -1) {
                $('.hiddenOnSurveyPages').css("display", "none");
            }
            if (window.location.href.indexOf("/survey/FITassessment") > -1) {                
                $('.hiddenOnSurveyPages').css("display", "none");
                document.getElementById("logoAnchor").href = "{% url 'fit:dashboard' %}";
            }
        });

        $(document).ready(function () {
            heightsEqualizer('.redefiningFitnessBoxParagraph');
            heightsEqualizer('.aboutTab');
        });

        $(window).resize(function () {            
            heightsEqualizer('.redefiningFitnessBoxParagraph');
            heightsEqualizer('.aboutTab');
        })

        function heightsEqualizer(selector) {
            var elements = document.querySelectorAll(selector),
                max_height = 0,
                len = 0,
                i;
            
            if ((elements) && (elements.length > 0)) {
                len = elements.length;
                for (i = 0; i < len; i++) { // get max height
                    elements[i].style.height = ''; // reset height attr
                    if (elements[i].clientHeight > max_height) {
                        max_height = elements[i].clientHeight;
                    }
                }


                for (i = 0; i < len; i++) { // set max height to all elements

                    if ($(window).width() >= 992) {
                        elements[i].style.height = max_height + 'px';
                    }
                    else {
                        elements[i].style.height = 'auto';
                    }
                }
            }
        }       


        setTimeout(function () { // set 1 second timeout for having all fonts loaded
            heightsEqualizer('.redefiningFitnessBoxParagraph');
            heightsEqualizer('.aboutTab');
        }, 1000);
    </script>
    <script type="text/javascript">mixpanel.track("view-page");</script>
</body>
</html>

