{% load staticfiles %}
<!DOCTYPE html>
<html ng-app="fitApp">
  <head>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.1/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/interact.js/1.2.4/interact.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.0.0/ui-bootstrap-tpls.min.js"></script>
    <script src="//cdn.rawgit.com/jkbrzt/rrule/v2.1.0/lib/rrule.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-bootstrap-colorpicker/3.0.25/js/bootstrap-colorpicker-module.min.js"></script>
    <script src="//mattlewis92.github.io/angular-bootstrap-calendar/dist/js/angular-bootstrap-calendar-tpls.min.js"></script>
    
    <script src="{% static 'app/app.js' %}"></script>
    
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/angular-bootstrap-colorpicker/3.0.25/css/colorpicker.min.css" rel="stylesheet">
    <link href="//mattlewis92.github.io/angular-bootstrap-calendar/dist/css/angular-bootstrap-calendar.min.css" rel="stylesheet">
    
    <!-- Tasks  -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/headers/header-default.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/pages/page_about.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/theme-colors/default.css' %}" id="style_color">
    <link rel="stylesheet" href="{% static 'assets/css/theme-skins/dark.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/layouts/white_layout.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/headers/Custom_Header.css' %}" />
  </head>
  <body>

<!--=== Header ===-->
<div class="header">
    <div class="container padding-right-0 padding-left-0">
        <div class="col-xs-4 col-md-3">
            <a class="logo" href="{% url 'fit:dashboard' %}">
                <img class="secureAdminLogo" src="{% static 'assets/img/icons/dimension-icons/FIT-logo-sm.png' %}" />
            </a>
        </div>
        <div class="col-xs-8 col-md-9">
            <input type="text" class="search-bar form-control" placeholder="Search" ng-keyup="checkSearch($event)" ng-model="keyword" />
            <button onclick="hamburgerToggle(event)" class="hamburgerSecure">&#9776;</button>
            <!-- End Toggle -->
        </div>
    </div><!--/end container-->
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="container hamburgerMenuWrapper">
        <div id="secureHamDropdown" class="hamburgerContent">
            <a href="/secure/IndividualDashboard">Dashboard</a>
            <a href="/secure/IndividualSurvey">FIT Assessment</a>
            <a href="/secure/MySurveys">My History</a>
            <a href="/secure/account">My Account</a>
            <a href="{{takeFitLink}}">{{takeFitText}}</a>
            <a href="/home/logout">Log Out</a>
        </div>
    </div>
    <!--/navbar-collapse-->
</div>

{% verbatim %}
<div ng-controller="AgendaCtrl as vm" class="container content">

    <div class="col-xs-12 col-md-6 col-md-offset-3" style="margin-bottom: 20px">
        <a class="col-xs-3" href="#">
            <div ng-click="filterGraph($event, 'cognitive')" class="icon-cognitive"></div>
        </a>
        <a class="col-xs-3 " href="#">
            <div ng-click="filterGraph($event , 'emotional')" class="icon-emotional"></div>
        </a>
        <a class="col-xs-3 " href="#">
            <div ng-click="filterGraph($event, 'physical')" class="icon-physical"></div>
        </a>
        <a class="col-xs-3 " href="#">
            <div ng-click="filterGraph($event, 'financial')" class="icon-financial"></div>
        </a>
    </div>
    <div class="col-md-10 col-md-offset-1 text-center">
        <div class="PB-horizontal-line"></div>
    </div>
    <div class="clearfix"></div>
  <h2 class="text-center">{{ vm.calendarTitle }}</h2>
   
  <br/>

    <div class="col-md-12" style="border: 1px solid #ccc; background-color: #fff; margin-bottom: 10px;" ng-repeat="event in vm.events track by $index">
        <div class="col-sm-6 margin-top-20">
            <table>
                <tr>
                    <td>
                        <div class="text-center" style="border-right: 1px solid #ddd;">
                            <div class="icon-Cognitive"></div>
                            <span style="font-size: 11px;">Cognitive</span>
                        </div>
                    </td>
                    <td>
                        <h4 class="text-bold" style="padding-left: 20px;">SubCategory Name OK</h4>
                        <h5 class="text-bold" style="padding-left: 20px;">Goal Text</h5>
                        <p style="margin-left: 1.25em;">This is some task text that should long enough</p>
                    </td>
                </tr>
            </table>
        </div>
    
        <div class="col-sm-6 margin-top-20">
            <div class="row">
                <div class="col-sm-6">
                    <p class="input-group" style="max-width: 250px">
                        <input
                          type="text"
                          class="form-control"
                          readonly
                          uib-datepicker-popup="dd MMMM yyyy"
                          ng-model="event.startsAt"
                          is-open="event.startOpen"
                          close-text="Close" >
                        <span class="input-group-btn">
                          <button
                            type="button"
                            class="btn btn-default"
                            ng-click="vm.toggle($event, 'startOpen', event)">
                            <i class="glyphicon glyphicon-calendar"></i>
                          </button>
                        </span>
                      </p>
                      <div
                        uib-timepicker
                        ng-model="event.startsAt"
                        hour-step="1"
                        minute-step="15"
                        show-meridian="true">
                      </div>
                  </div>
                  
                  <div lass="col-sm-3">
                  <p class="input-group" style="max-width: 250px">
                            <input
                              type="text"
                              class="form-control"
                              readonly
                              uib-datepicker-popup="dd MMMM yyyy"
                              ng-model="event.endsAt"
                              is-open="event.endOpen"
                              close-text="Close">
                            <span class="input-group-btn">
                              <button
                                type="button"
                                class="btn btn-default"
                                ng-click="vm.toggle($event, 'endOpen', event)">
                                <i class="glyphicon glyphicon-calendar"></i>
                              </button>
                            </span>
                          </p>
                      <div
                        uib-timepicker
                        ng-model="event.startsAt"
                        hour-step="1"
                        minute-step="15"
                        show-meridian="true">
                      </div>
                  </div>
              </div>
        </div>
    </div>

<script>
//
//angular.module('fitApp', ['mwl.calendar', 'ngAnimate', 'ui.bootstrap', 'colorpicker.module']);
//

angular
.module('fitApp') //you will need to declare your module with the dependencies ['mwl.calendar', 'ui.bootstrap', 'ngAnimate']
.controller('KitchenSinkCtrl', function(moment, alert, calendarConfig) {

  var vm = this;

  //These variables MUST be set as a minimum for the calendar to work
  vm.calendarView = 'month';
  vm.viewDate = new Date();
  var actions = [{
    label: '<i class=\'glyphicon glyphicon-pencil\'></i>',
    onClick: function(args) {
      alert.show('Edited', args.calendarEvent);
    }
  }, {
    label: '<i class=\'glyphicon glyphicon-remove\'></i>',
    onClick: function(args) {
      alert.show('Deleted', args.calendarEvent);
    }
  }];
  vm.events = [
    {
      title: 'An event',
      color: calendarConfig.colorTypes.warning,
      startsAt: moment().startOf('week').subtract(2, 'days').add(8, 'hours').toDate(),
      endsAt: moment().startOf('week').add(1, 'week').add(9, 'hours').toDate(),
      draggable: true,
      resizable: true,
      actions: actions
    }, {
      title: '<i class="glyphicon glyphicon-asterisk"></i> <span class="text-primary">Another event</span>, with a <i>html</i> title',
      color: calendarConfig.colorTypes.info,
      startsAt: moment().subtract(1, 'day').toDate(),
      endsAt: moment().add(5, 'days').toDate(),
      draggable: true,
      resizable: true,
      actions: actions
    }, {
      title: 'This is a really long event title that occurs on every year',
      color: calendarConfig.colorTypes.important,
      startsAt: moment().startOf('day').add(7, 'hours').toDate(),
      endsAt: moment().startOf('day').add(19, 'hours').toDate(),
      recursOn: 'year',
      draggable: true,
      resizable: true,
      actions: actions
    }
  ];

  vm.cellIsOpen = true;

  vm.addEvent = function() {
    vm.events.push({
      title: 'New event',
      startsAt: moment().startOf('day').toDate(),
      endsAt: moment().endOf('day').toDate(),
      color: calendarConfig.colorTypes.important,
      draggable: true,
      resizable: true
    });
  };

  vm.eventClicked = function(event) {
    alert.show('Clicked', event);
  };

  vm.eventEdited = function(event) {
    alert.show('Edited', event);
  };

  vm.eventDeleted = function(event) {
    alert.show('Deleted', event);
  };

  vm.eventTimesChanged = function(event) {
    alert.show('Dropped or resized', event);
  };

  vm.toggle = function($event, field, event) {
    $event.preventDefault();
    $event.stopPropagation();
    event[field] = !event[field];
  };

  vm.timespanClicked = function(date, cell) {

    if (vm.calendarView === 'month') {
      if ((vm.cellIsOpen && moment(date).startOf('day').isSame(moment(vm.viewDate).startOf('day'))) || cell.events.length === 0 || !cell.inMonth) {
        vm.cellIsOpen = false;
      } else {
        vm.cellIsOpen = true;
        vm.viewDate = date;
      }
    } else if (vm.calendarView === 'year') {
      if ((vm.cellIsOpen && moment(date).startOf('month').isSame(moment(vm.viewDate).startOf('month'))) || cell.events.length === 0) {
        vm.cellIsOpen = false;
      } else {
        vm.cellIsOpen = true;
        vm.viewDate = date;
      }
    }

  };

}).directive('book', function() {
      return {
          restrict: 'E',
          scope: {
              data: '='
          },
          link: function(scope, element, attrs) {
              scope.goalsUrl = attrs.goalsUrl;
          },
          template: '<div>{{goalsUrl}}</div>'
      };
});

angular.module('fitApp').factory('PlanBuilderGoalsfactory',
      function($http) {
          return {
              getGoals: function(subcategoryId, callback) {
                  var url = "{% url 'fit:plan_load_goals' %}" + "?SubcategoryId=" + subcategoryId;
                  
                  $http({ method: 'GET', url: url, headers: { 'Content-Type': 'application/json' } })
                      .success(function(data, status, headers, config) {
                          callback(data);

                      })
                      .error(function(data, status, headers, config) {
                          console.log(status);
                      });
              },

              getTasks: function(goalId, callback) {
                  var url = "{% url 'fit:plan_load_Tasks' %}" + "?Id=" + goalId;

                  $http({ method: 'GET', url: url, headers: { 'Content-Type': 'application/json' } })
                      .success(function(data, status, headers, config) {
                          callback(data);

                      })
                      .error(function(data, status, headers, config) {
                          console.log(status);
                      });
              },

              getSubcategory: function(subcategoryId, callback) {
                  var url = "{% url 'fit:plan_get_sub_category' %}" + "?id=" + subcategoryId;

                  $http({ method: 'GET', url: url, headers: { 'Content-Type': 'application/json' } })
                      .success(function(data, status, headers, config) {
                          callback(data);

                      })
                      .error(function(data, status, headers, config) {
                          console.log(status);
                      });
              },
              getDimension: function(dimensionId, callback) {
                  var url = "{% url 'fit:plan_get_dimension' %}" + "?id=" + dimensionId;

                  $http({ method: 'GET', url: url, headers: { 'Content-Type': 'application/json' } })
                      .success(function(data, status, headers, config) {
                          callback(data);

                      })
                      .error(function(data, status, headers, config) {
                          console.log(status);
                      });
              },

              addTask: function(planbuilderObjectId, taskId, goalId, callback) {
                  var url = "{% url 'fit:plan_add_task' %}" + "?planbuilderObjectId=" +
                      planbuilderObjectId +
                      '&taskId=' +
                      taskId +
                      '&goalId=' +
                      goalId;

                  $http({ method: 'POST', url: url, headers: { 'Content-Type': 'application/json' } })
                      .success(function(data, status, headers, config) {
                          callback(data);

                      })
                      .error(function(data, status, headers, config) {
                          console.log(status);
                      });
              },

              removeTask: function(planbuilderObjectId, taskId, goalId, callback) {
                  var url = "{% url 'fit:plan_remove_task' %}" + "?planbuilderObjectId=" +
                      planbuilderObjectId +
                      '&taskId=' +
                      taskId +
                      '&goalId=' +
                      goalId;

                  $http({ method: 'POST', url: url, headers: { 'Content-Type': 'application/json' } })
                      .success(function(data, status, headers, config) {
                          callback(data);

                      })
                      .error(function(data, status, headers, config) {
                          console.log(status);
                      });
              },

              clearTasks: function(planbuilderObjectId, callback) {
                  var url = "{% url 'fit:plan_clear_tasks' %}" + "?planbuilderObjectId=" + planbuilderObjectId;

                  $http({ method: 'POST', url: url, headers: { 'Content-Type': 'application/json' } })
                      .success(function(data, status, headers, config) {
                          callback(data);

                      })
                      .error(function(data, status, headers, config) {
                          console.log(status);
                      });
              }
          }
      });

angular
.module('fitApp')
.factory('alert', function($uibModal) {

function show(action, event) {
  return $uibModal.open({
    templateUrl: '/static/js/modalContent.html',
    controller: function() {
      var vm = this;
      vm.action = action;
      vm.event = event;
    },
    controllerAs: 'vm'
  });
}

return {
  show: show
};

});


</script>

    <div class="row">
        <div class="col-xs-6">
            <br /><br />
            {% endverbatim %}
            <a href="{% url 'fit:plan_builder_goals' %}"><button class="btn btn-primary primaryBtn buildYourDreamBtn text-uppercase gray-back-btn">Back</button></a>
            {% verbatim %}
        </div>
        <div class="col-xs-6">
            <br /><br />
            {% endverbatim %}
            <a style="float:right" href="{% url 'fit:dashboard' %}"><button class="pull-right btn btn-primary primaryBtn buildYourDreamBtn text-uppercase">Save</button></a>
            {% verbatim %}
        </div>
    </div>
</div>

  </body>
{% endverbatim %}
</html>
